<div class="container mt-5" style="max-width:400px;">

    <h3 class="text-center mb-4">Login</h3>

    <form method="post" class="card p-4 shadow">

        <div class="mb-3">
            <label>Username</label>
            <input name="username" class="form-control" />
        </div>

        <div class="mb-3">
            <label>Password</label>
            <input name="password" type="password" class="form-control" />
        </div>

        <button class="btn btn-primary w-100">Login</button>

        <span class="text-danger">@ViewBag.Error</span>

    </form>

</div>